footer{
    border: 1px solid gainsboro;
    color: black;
    font-size: 18px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 200px;
}
footer ul{
    display: flex;
    gap: 30px;
    font-size: 18px;
    position: relative;
    left: 900px;
    
}
.main:hover{
    transition: all 0.7s;
    color: red;
    text-shadow: 2px 3px 10px red;
}
.contact:hover{
    transition: all 0.7s;
    color: red;
    text-shadow: 2px 3px 10px red;
}
.nomzodlar:hover{
    transition: all 0.7s;
    color: red;
    text-shadow: 2px 3px 10px red;
}
a:hover{
    color: red;
    transition: all 0.7s;
}